@media(max-width: 768px){
	#logo{
		float: right;
		padding: 20px;
		margin-right: 20%;
	}
}

@media(max-width: 560px){
	#logo{
		margin-right: -2%;
	}
}

@media(max-width: 490px){
	.txt_ a{
		max-width: 295px;
	}
}